<section id="coupon" style="margin: 150px 250px;">
    <div class="container mt-5 text-center">
        <ul class="breadcrumb">
            <li><a href="#">Manage Offers</a></li>
            <li>Coupon Code</li>
        </ul>
        <div class="page-content-wrapper ">

            <div class="container-fluid">

                <div class="row">

                    <div class="card-body col-md-4">

                        <div class="col-sm-12">
                            <div class="page-title-box">

                                <h4 class="page-title ml-5">Add Coupon </h4>
                            </div>
                        </div>
                        <form action="/admin/coupon-code" method="post">

                            <div class="form-outline mb-2 col-md-12">
                                <input type="text" id="form7Example2" class="form-control" name="couponcode" />
                                <label class="form-label" for="form7Example2">Coupon Code</label>

                            </div>

                            <div class="form-outline mb-2  col-md-12">
                                <input type="text" id="form7Example4" class="form-control" name="discount" />
                                <label class="form-label" for="form7Example4">Discount</label>

                            </div>
                            <div class="form-outline mb-2  col-md-12">
                                <input type="text" id="form7Example4" class="form-control" name="discountlimit" />
                                <label class="form-label" for="form7Example4">Discount Limit</label>

                            </div>
                            <div class="form-outline mb-2  col-md-12">
                                <input type="text" id="form7Example4" class="form-control" name="validitydays" />
                                <label class="form-label" for="form7Example4">Validity Days</label>

                            </div>
                            {{#if couponExist}}
                            <div>
                                <span style="color: red;">coupon already exists</span>
                            </div>
                            {{/if}}

                            <button type="submit" class="btn btn-success btn-lg btn-block  col-md-12">
                                Add
                            </button>
                        </form>
                    </div>

                    <div class="col-md-8 mt-4">
                        <div class="col-sm-12">
                           
                        </div>

                        <table class="table">

                            <thead style="background-color: #f2f2f2;">
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Limit</th>
                                    <th scope="col">Validity</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each coupons}}
                                <tr>
                                    <td>{{this.couponcode}}</td>
                                    <td>{{this.discount}}</td>
                                    <td>{{this.discountlimit}}</td>
                                    <td>{{this.expiryDate}}</td>
                                    <td><a href="/admin/couponDelete/{{this._id}}" class="btn btn-danger">Delete</a>
                                    </td>

                                </tr>
                                {{/each}}


                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
</section>