<section id="dashboard" style="margin: 150px 250px;">
    <div class="container">
        <div class="box">
            <div class="counts">
                <div class="count-box">
                    <i class="fa-solid fa-users"></i>
                    <div>
                        <h3>{{userCount}}</h3>
                        <span>Total Users</span>
                    </div>
                </div>
            </div>

            <div class="counts">
                <div class="count-box">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                        <h3>{{orderCount}}</h3>
                        <span>Total Orders</span>
                    </div>
                </div>
            </div>

            <div class="counts">
                <div class="count-box">
                    <i class="fa-solid fa-boxes"></i>
                    <div>
                        <h3>{{productCount}}</h3>
                        <span>Total Products</span>
                    </div>
                </div>
            </div>

            <div class="counts">
                <div class="count-box">
                    <i class="fa-solid fa-chart-line"></i>
                    <div>
                        <h3>{{totalRevenue}}</h3>
                        <span>Total Revenue</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="charts">
            <div class="chart" id="doughnut">
                <h2>Payment Chart</h2>
                <canvas id="chart1"></canvas>
                <script>
                    const ctx1 = document.getElementById('chart1').getContext('2d');
                    const chart1 = new Chart(ctx1, {
                        type: 'doughnut',
                        data: {
                            labels: ['COD', 'Razorpay'],
                            datasets: [{
                                data: [{{ paymentMethods }}],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                            ],
                            borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                            ],
                            borderWidth: 1
                        }]
                    },
                        options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: "Payment Methods"
                        }

                    }
                    });
                </script>

            </div>
            <div class="chart">
                <h2>Order Status</h2>
                <canvas id="chart2"></canvas>
                <script>
const ctx2 = document.getElementById('chart2').getContext('2d');
const chart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: [{{#each orderStatus}}'{{this.status}}',{{/each}}],
        datasets: [{
            label: '# of Votes',
            data: [{{#each orderStatus}}'{{this.total}}',{{/each}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
    ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

            </div>
        </div>
        <div class="container userlist">
            <h2>Recent Users</h2>
            <table class="table table-bordered" style="padding: 5rem; text-align:center;">
                <thead style="background-color: cornsilk;">
                    <tr>
                        <th scope="col">Users</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each userList}}
                    <tr>
                        <td class="align-middle">{{this.Name}}</td>
                        <td>{{this.Number}}</td>
                        <td class="align-middle">{{this.Email}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>