<section id="featured" class="section-p1">
    <div class="container text-center mt-5 py-5">
        <ul class="breadcrumb">
     <li><a href="#">Home</a></li>
     <li>Men</li>
     <span class="ml-auto"><div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div></span>
    </ul> 
        <!--<h3>Men's Collections</h3>
        <hr>
        <p>Here you can check out our new products with fair price on WIS.</p>-->
    </div>
    <div class="pro-container">
        {{#each men}}
      <div class="pro">
          <img src="product-images/{{this._id}}1.jpg" alt="" onclick="window.location.href='/view-product/{{this._id}}'">
          <div class="des">
              <span>{{this.Brand}}</span>
              <h5>{{this.Name}}</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
              </div>
              <h4>₹ {{this.Price}}</h4>
          </div>
          <a href=""><i id="wish" class="far fa-heart wishlist"></i></a>
          <!-- <a href="#"><i class="fa-solid fa-cart-arrow-down cart"></i></a> -->
      </div>
      {{/each}}
    </div>
</section>

<script>
  const btn = document.getElementById('wish')

 btn.addEventListener('click', function onClick() {
  btn.style.backgroundColor = '#c40a2c';
  //btn.style.color = 'white';
});
</script>