<section id="brd" style="margin-top: 70px;">
  <div class="crumb">
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li>women</li>
      <span class="ml-auto">
        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </span>
    </ul>
  </div>
</section>
<section id="featured" class="section-p1">
    <div class="container text-center mt-5 py-5">
        <!--<h3>Women's Collections</h3>
        <hr>
        <p>Here you can check out our new products with fair price on WIS.</p>-->
    </div>
    <div class="pro-container" style="margin-top: -150px;">
        {{#each women}}
      <div class="pro">
          <img src="product-images/{{this._id}}1.jpg" alt="" onclick="window.location.href='/view-product/{{this._id}}'">
          <div class="des">
              <span>{{this.Brand}}</span>
              <h5>{{this.Name}}</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
              </div>
              {{#if this.pdtOffer}}
                <h4>₹{{this.Price}} <span style="margin-left: 1px;"><del style="color: rgb(153, 153, 153);">₹{{this.actualPrice}}</del><span style="color: red;">({{this.percentage}}% OFF)</span></span></h4>
              {{else}}
                <h4>₹{{this.Price}}</h4>
              {{/if}}
          </div>
          <a href=""><i class="far fa-heart wishlist"></i></a>
          <!-- <a href="#"><i class="fa-solid fa-cart-arrow-down cart"></i></a> -->
      </div>
      {{/each}}
    </div>
</section>

